@font-face{
    font-family: "Aarvark cafe";
    src: url("../assets/tipografia.ttf");
}
*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
body{
    background-image:url( ../assets/bgPNG) ;
    font-family: Arial;
    color: rgba(5, 5, 5, 0.911);
    
}
main{
    position: relative;
    border: 1px solid rgb(7, 163, 46);
    width: 1000px;
    min-height: 300px;
    background-color:  rgba(63, 112, 78, 0.972);
}
header#hprincipal{
    font-family:"Aarvart cafe" !important ;
    position: relative;
    width: 100%;
    height: 200px;
    border-bottom:1px solid rgb(10, 10, 10) ;
    background-image: url(../assets/hacker-2.jpg)
}
header#hprincipal .logo{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;
    background-image:url(../assets/html5_logo.png);
    background-size: 100px;

}
header#hprincipal h1{
    position: absolute;
    left: 150px;
    top: 150px;
}
nav.menu{
    border-bottom:1px solid #000 ;
    position: relative;
    background-color:rgb(24, 46, 30) ;
}
nav.menu ul{
    position: relative;
    width: 100%;
}
nav.menu ul li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}
nav.menu ul li a{
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
}
nav.menu ul li a:hover,nav.menu ul li a.activo {
    background-color: #da7416;
}
footer#fprincipal{
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    border-top:1px solid rgb(52, 236, 5) ;
    background-color: #0a060f;
    color: #fff;
    background-image: url(../assets/bgf.png);
}
footer#fprincipal small{
    position: relative;
    top:30px;
    background: #000;
}
table, tr , td, th{
    border: 1px solid rgb(34, 71, 42);
    border-collapse: collapse;
    padding: 10px;
}

table{
    position: relative;
    width: 95%;
    margin: 20px auto;
}
table thead{
    background-color: rgb(45, 189, 81);
    color:#fff;
}

table tbody tr:nth-child(odd){
    *background-color: rgb(245, 241, 241);

}

table tbody tr:nth-child(even){
    background-color: rgba(13, 102, 24, 0.781);
}
footer{
    background: #7a2929;
}

